main {
  width: calc(100vw - 200px);
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 50px 100px;
}

section {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 700px;
}

h1 {
  font-weight: bold;
  color: #2e0000;
  font-size: 48px;
  text-align: center;
  font-family: Arial, sans-serif;
}

h2 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #181818;
  text-align: left;
}

h3 {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #2e2e2e;
  text-align: left;
}

p {
  font-family: Arial, sans-serif;
  color: #1a1a1a;
  text-align: left;
}

pre, code {
  text-align: left;
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  font-style: italic;
  padding: 0.5em 1em;
  border-radius: 4px;
  display: block;
  margin: 1em 0;
  font-size: 1em;
  overflow-x: auto;
}